@media (max-width: 415px) {
  .card {
    width: 310px;
    height: auto;

    .bg {
      width: 300px;
      height: auto;

      .textInside {
        .text1 {
          font-size: 12px;
        }

        .divider {
          .text3 {
            font-size: 14px;
          }
        }
      }
    }
  }
}






.card {
    position: relative;
    width: 400px;
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #c088c5, -20px -20px 60px #f6b6fc;
    margin-bottom: 20px;
    @media (max-width: 415px) {
        width: 280px;
        min-height: 280px;

        .bg {
          width: 270px;
          min-height: 270px;

          .textInside {
            width: 270px;
            .divider {
              .text3 {
                font-size: 14px;
              }
            }
            .text1 {
              font-size: 10px;
            }
            .text2{
              margin: 2px;
              font-size: 10pt;
              text-align: center;
            }

        }
      }
    }
    .bg {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 390px;
      height: 240px;
      z-index: 2;
      background: #ffffff;
      backdrop-filter: blur(24px);
      border-radius: 10px;
      overflow: hidden;
      outline: 2px solid white;
      .textInside{
        .divider{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .text3{
                margin: 5px;
                font-size: 29px;
                font-weight: 500;
                color: #ee2abd;
            }
        }

        .text1{
            z-index: 3;
            font-size: 24px;
            font-weight: 600;
            color: #ee2abd;
            text-align: center;
            margin-top: 20px;
        }
        .text2{
            margin: 5px;
            text-align: center;
        }
    }
    }

    .blob {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #ff32ddd7;
      opacity: 1;
      filter: blur(12px);
      animation: blob-bounce 5s infinite ease;
    }

    @keyframes blob-bounce {
      0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
      }

      25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
      }

      50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
      }

      75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
      }

      100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
      }
    }
  }