html, body, #__next {
  
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  scrollbar-gutter: stable ;
  width: 100vw;
  background-color: #f6b6fc;//#ACACAC;
  
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}