.SecondType{  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  
  .card {
    scale: 1.2;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 60px #c088c5, -20px -20px 60px #f6b6fc;
    margin-bottom: 10px;
    .bg {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 190px;
      height: 190px;
      z-index: 2;
      background: #ffffff;
      backdrop-filter: blur(24px);
      border-radius: 10px;
      overflow: hidden;
      outline: 2px solid white;
    }

    .blob {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #ff32ddd7;
      opacity: 1;
      filter: blur(12px);
      animation: blob-bounce 5s infinite ease;
    }

    @keyframes blob-bounce {
      0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
      }

      25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
      }

      50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
      }

      75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
      }

      100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
      }
    }
  }
  .buttonGroup{
    display: flex;
    gap: 10px;

    button{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  

}